
.mainCarousel
{
  text-align: left;
  border-radius: 0 0 0.5em 0.5em;
}

.space-carousel
{
  text-align: center;
  vertical-align: top;
  width: calc(1vw + 95%);
  left: 1.75%;
  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.5), 0 0 0 0 rgb(0,0,0);
  border-radius: 0 0 0.5em 0em;
}


.space-carousel .slick-slide img
{
  overflow: hidden;
  width: 100%;
  height: 25em;
  object-fit: cover;
  box-shadow: 2px -4px 4px -2px rgba(0, 0, 0, 0.4), 0 0 0 0 rgb(0,0,0);
}

.space-carousel .slick-slide h3
{
  color: #fff;
  display: inline-block;
  width: 100%;
}


.ant-carousel .slick-dots-top
{
  bottom: 325px;
  background: transparent;
}


.space-carousel .slick-dots li
{
  width: 2.85em;
  height: 0.05em;
  top: 0.75em;
}

.space-carousel .slick-dots li button
{
  border: 0.01px solid rgb(151, 151, 151);
  opacity: 0.4;
  width: 40px;
  position: absolute;
  height: 5px;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 1), 0 0 0 0 rgb(0,0,0);
  transition: ease-out 0.4ms;
}

.space-carousel .slick-dots li button:hover
{
  border: 0.01px solid rgba(255, 255, 255, 0.068);
  background: rgba(255, 255, 255, 0.253);
  opacity: 1;
  transform: scaleY(2);
  transition: ease-in 0.4ms;
}

.space-carousel .slick-dots li.slick-active button
{
  opacity: 1;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.4), 0 0 0 0 rgb(0,0,0);
  background: blueviolet;
  border: 0.01px solid blueviolet;
}

.space-carousel .slick-dots li.slick-active button:hover
{
  background: blueviolet;
  border: 0.01px solid blueviolet;
}

.space-carousel .slick-dots li.slick-active
{
  width: 40px;
}

.space-carousel .description
{  
  background: rgba(0, 0, 0, 0.65);
  height: auto;
  position: absolute;
  width: 100%;
  bottom: -2em;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  transition: ease-in-out 0.4s;
}

.space-carousel:hover .description
{  
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  transform: scale(1.1);
  transition: ease-out 0.4s;
}

.description > .caroTitle
{ 
  color: rgb(207, 157, 255);
  font-family: 'Exo 2', sans-serif;
  font-size: calc(1vw + 5px);
  font-weight: 600;
  transition: ease-out 0.4s;
  margin: 0em;
  

  height: auto;
  width: 87%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.description > .caroParagraph
{
  color: rgb(255, 255, 255);
  font-family: 'Courier Prime', monospace;
  font-size: calc(1vw + 0.05px);
  font-weight: 100;
  text-transform: none;
  padding-bottom: 0.3em;
  height: auto;
  width: 85%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.space-carousel .description p
{ 
  transition: ease-out 0.4s;
  padding-top: 3.5px;
  margin: 0;
}

.space-carousel:hover .description p
{ 
  transition: ease-out 0.4s; 
  margin: -2px;
}

@media only screen and (max-width: 900px) 
{
  .space-carousel .description
  {  
    background: rgba(0, 0, 0, 0.65);
    height: auto;
    position: absolute;
    width: 100%;
    bottom: 0em;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    transition: ease-in-out 0.4s;
  }

  .space-carousel:hover .description
  {  
    background: rgba(0, 0, 0, 0.85);
    bottom: 0em;
    transform: none;
    bottom: 0;
  }

  .description > .caroTitle
  { 
    color: rgb(207, 157, 255);
    font-family: 'Exo 2', sans-serif;
    
    font-size: calc(1vw + 0.8em);
    font-weight: 600;
    transition: ease-out 0.4s;
  }

  .description > .caroParagraph
  {
    color: rgb(255, 255, 255);
    font-family: 'Courier Prime', monospace;
    font-size: calc(1vw + 0.65em);
    font-weight: 100;
    text-transform: none;
    height: auto;

  }

  .space-carousel .description p
  { 
    transition: ease-out 0.4s;
    padding-top: 3.5px;
    margin: 0;
  }

  .space-carousel:hover .description p
  { 
    margin: 0px;
  } 

}

.slick-track
{
  height: 25em;
  border: 0px solid transparent;
}

.featStoriesTitle
{
  position: relative;
  background-color: blueviolet;
  width: calc(25vw + 12em);
  height: calc(3vw + 1.65em);
  border-radius: 0 1em 1em 15em;
  margin-left: 1.75%;
  box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.5), 0 0 0 0 rgb(0,0,0);
}

.featStoriesTitle > .featStoriesTitleFont
{
  font-size: calc(2vw + 0.8em);  
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-family: 'Exo 2', sans-serif;
  padding-left: 2em;

}